In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('AviationData.csv', encoding= 'latin1', low_memory = False)

In [8]:
df.columns = df.columns.str.replace('.', ' ', regex=False)

In [9]:
df

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose of flight,Air carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad phase of flight,Report Status,Publication Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [10]:
df.columns = df.columns.str.title()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event Id                88889 non-null  object
 1   Investigation Type      88889 non-null  object
 2   Accident Number         88889 non-null  object
 3   Event Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport Code            50132 non-null  object
 9   Airport Name            52704 non-null  object
 10  Injury Severity         87889 non-null  object
 11  Aircraft Damage         85695 non-null  object
 12  Aircraft Category       32287 non-null  object
 13  Registration Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur Built           88787 non-null  object
 17  Number Of Engines       82805 non-null  float64
 18  Engine Type             81793 non-null  object
 19  Far Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose Of Flight       82697 non-null  object
 22  Air Carrier             16648 non-null  object
 23  Total Fatal Injuries    77488 non-null  float64
 24  Total Serious Injuries  76379 non-null  float64
 25  Total Minor Injuries    76956 non-null  float64
 26  Total Uninjured         82977 non-null  float64
 27  Weather Condition       84397 non-null  object
 28  Broad Phase Of Flight   61724 non-null  object
 29  Report Status           82505 non-null  object
 30  Publication Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [12]:
df['Weather Condition'].value_counts()

Weather Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: count, dtype: int64

In [13]:
df['Weather Condition'] = df['Weather Condition'].str.replace('Unk','UNK')
df['Weather Condition'].value_counts()

Weather Condition
VMC    77303
IMC     5976
UNK     1118
Name: count, dtype: int64

In [14]:
df[['Injury Severity', 'Total Fatal Injuries']].value_counts()

Injury Severity  Total Fatal Injuries
Non-Fatal        0.0                     56686
Fatal(1)         1.0                      6167
Fatal(2)         2.0                      3711
Fatal            1.0                      2700
Incident         0.0                      1556
                                         ...
Fatal(117)       117.0                       1
Fatal(115)       115.0                       1
Fatal(114)       114.0                       1
Fatal(111)       111.0                       1
Fatal(144)       144.0                       1
Name: count, Length: 170, dtype: int64

In [15]:
df = df.drop('Publication Date', axis = 1)

In [16]:
df['Injury Severity'].value_counts()

Injury Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(270)        1
Fatal(60)         1
Fatal(43)         1
Fatal(143)        1
Fatal(230)        1
Name: count, Length: 109, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event Id                88889 non-null  object
 1   Investigation Type      88889 non-null  object
 2   Accident Number         88889 non-null  object
 3   Event Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport Code            50132 non-null  object
 9   Airport Name            52704 non-null  object
 10  Injury Severity         87889 non-null  object
 11  Aircraft Damage         85695 non-null  object
 12  Aircraft Category       32287 non-null  object
 13  Registration Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur Built           88787 non-null  object
 17  Number Of Engines       82805 non-null  float64
 18  Engine Type             81793 non-null  object
 19  Far Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose Of Flight       82697 non-null  object
 22  Air Carrier             16648 non-null  object
 23  Total Fatal Injuries    77488 non-null  float64
 24  Total Serious Injuries  76379 non-null  float64
 25  Total Minor Injuries    76956 non-null  float64
 26  Total Uninjured         82977 non-null  float64
 27  Weather Condition       84397 non-null  object
 28  Broad Phase Of Flight   61724 non-null  object
 29  Report Status           82505 non-null  object
dtypes: float64(5), object(25)
memory usage: 20.3+ MB

In [18]:
df['Schedule'].value_counts()

Schedule
NSCH    4474
UNK     4099
SCHD    4009
Name: count, dtype: int64

In [19]:
df = df.drop('Schedule', axis = 1)

In [20]:
df = df.drop('Air Carrier', axis = 1)

In [21]:
df = df.drop('Latitude', axis=1)

In [22]:
df = df.drop('Longitude', axis=1)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event Id                88889 non-null  object
 1   Investigation Type      88889 non-null  object
 2   Accident Number         88889 non-null  object
 3   Event Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport Code            50132 non-null  object
 7   Airport Name            52704 non-null  object
 8   Injury Severity         87889 non-null  object
 9   Aircraft Damage         85695 non-null  object
 10  Aircraft Category       32287 non-null  object
 11  Registration Number     87507 non-null  object
 12  Make                    88826 non-null  object
 13  Model                   88797 non-null  object
 14  Amateur Built           88787 non-null  object
 15  Number Of Engines       82805 non-null  float64
 16  Engine Type             81793 non-null  object
 17  Far Description         32023 non-null  object
 18  Purpose Of Flight       82697 non-null  object
 19  Total Fatal Injuries    77488 non-null  float64
 20  Total Serious Injuries  76379 non-null  float64
 21  Total Minor Injuries    76956 non-null  float64
 22  Total Uninjured         82977 non-null  float64
 23  Weather Condition       84397 non-null  object
 24  Broad Phase Of Flight   61724 non-null  object
 25  Report Status           82505 non-null  object
dtypes: float64(5), object(21)
memory usage: 17.6+ MB

In [24]:
df2 = df.drop(df[df['Amateur Built'] == 'Yes'].index)

In [25]:
df2.loc[df['Amateur Built'] == 'Yes']

Empty DataFrame
Columns: [Event Id, Investigation Type, Accident Number, Event Date, Location, Country, Airport Code, Airport Name, Injury Severity, Aircraft Damage, Aircraft Category, Registration Number, Make, Model, Amateur Built, Number Of Engines, Engine Type, Far Description, Purpose Of Flight, Total Fatal Injuries, Total Serious Injuries, Total Minor Injuries, Total Uninjured, Weather Condition, Broad Phase Of Flight, Report Status]
Index: []

[0 rows x 26 columns]

In [26]:
df['Amateur Built'].value_counts()

Amateur Built
No     80312
Yes     8475
Name: count, dtype: int64

In [27]:
df['Engine Type'].value_counts()

Engine Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [28]:
d3 = df2.loc[df['Model'] == 'AX8 88' ,['Report Status']]

In [29]:
d3

                                           Report Status
85147  The balloon pilots inability to maintain alti...